doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    meta(http-equiv='Progma' content='no-cache')
    meta(http-equiv='Cache-Control' content='no-cache')
    meta(http-equiv='Expires' content='0')
    //- link(rel='stylesheet' href=`${baseUrl}/res/antd/antd.min.css`)
    link(rel='stylesheet' href=`${baseUrl}/res/amazeui-touch/amazeui.touch.css`)
    link(rel='icon',type='image/x-icon',href=`${baseUrl}/favicon.ico`)
    link(rel='stylesheet' href=`${baseUrl}/res/css/bundle.css`)
  body
    div#root.root!= appHtml
    script(type='text/javascript').
      var appData = !{JSON.stringify(appData)}
    script(type='text/javascript' src=`${baseUrl}/res/js/bundle.js`)
